name: Deploy Zola to GitHub Pages
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Build and Deploy
        uses: shalzz/zola-deploy-action@v0.19.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
